<!DOCTYPE HTML>
<html>
<head>
    <title>simple API</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./js/jsrender.min.js"></script>
    <script src="./js/loading.js"></script>
    <script src="./js/pdfdf.js"></script>
    <script src="./js/rect-box.js"></script>
    <link rel="stylesheet" href="./css/loading.css">
    <link rel="stylesheet" href="./css/canvas.css">
    <link rel="stylesheet" href="./css/view-control.css">
    <link rel="stylesheet" href="./css/rect-box.css">
</head>
<body>

<table border="0">
    <tr>
        <td valign="top" class="page-table" style="display:none">
            <table border="1">
                <tr>
                    <td class="table-label">Page</td>
                </tr>
                <tr class="page-pos"></tr>
            </table>
        </td>
        <td valign="top">
            <table border="1" class="image-top" data-kbn="org">
                <tr>
                    <td colspan="2" class="table-label file-label">
                        <label style="background-color: lightgray;" for="org-pdf">
                            元PDF選択<input id="org-pdf" class="select-file" type="file" accept=".pdf,.pdfimg" style="display: none;"/>
                        </label>
                        <span class="file-name" style="word-break: break-all;"></span></br>
                    </td>
                </tr>
                <tr class="image-pos"></tr>
            </table>
        </td>
        <td valign="top">
            <table border="1" class="image-top" data-kbn="dst">
                <tr>
                    <td colspan="2" class="table-label file-label">
                        <label style="background-color: lightgray;" for="dst-pdf">
                            先PDF選択<input id="dst-pdf" class="select-file" type="file" accept=".pdf,.pdfimg" style="display: none;"/>
                        </label>
                        <span class="file-name" style="word-break: break-all;"></span>
                    </td>
                </tr>
                <tr class="image-pos"></tr>
            </table>
        </td>
        <td valign="top" class="diff-table" style="display:none">
            <table border="1">
                <tr>
                    <td class="table-label">
                        <input type="range" value="10" min="0" max="100" step="1" id="eps-bar" style="width: 100px;">
                        <input type="button" id="diff-btn" value="比較" style="display:none">
                    </td>
                </tr>
                <tr class="diff-pos"></tr>
            </table>
        </td>
    </tr>
</table>
<script id="image-tag" type="text/x-jsrender">
    <tr class="image-tr pages" data-page="{{:idx}}">
        <td valign="top" class="image-td" style="width: {{:cssWidth}}px; height : {{:cssHeight + 1}}px">
            <div class="canvas-wrap">
                <canvas class="canvas-cell canvas-image" data-image-no="{{:idx}}" data-diff-no="X"
                  width="{{:width}}" height="{{:height}}"
                  style="width: {{:cssWidth}}px; height: {{:cssHeight}}px; z-index: 1;"></canvas>
                <canvas class="canvas-cell canvas-light"
                  width="{{:width}}" height="{{:height}}"
                  style="width: {{:cssWidth}}px; height: {{:cssHeight + 1}}px; z-index: 2;"></canvas>
                <canvas class="canvas-cell canvas-rect"
                  width="{{:width}}" height="{{:height}}"
                  style="width: {{:cssWidth}}px; height: {{:cssHeight + 1}}px; z-index: 3;"></canvas>
                <img src="./img/invisible.png" class="canvas-cell cell-top" style="width: {{:cssWidth}}px; height: {{:cssHeight + 1}}px; z-index: 4; display:none;"></img>
            </div>
        </td>
        <td>
            <a href="javascript:void(0);"" class="blank-add">＋</a>
        </td>
    </tr>
</script>
<script id="blank-tag" type="text/x-jsrender">
    <tr class="image-tr pages" data-page="{{:idx}}">
        <td colspan="2" class="image-td">
            <a href="javascript:void(0);" class="blank-remove">－</a>
        </td>
    </tr>
</script>
<script id="page-tag" type="text/x-jsrender">
    <tr class="page-tr pages" data-page="{{:idx}}">
        <td style="height : {{:height + 1}}px">
            <div>{{:idx + 1}}</div>
        </td>
    </tr>
</script>
<script id="diff-tag" type="text/x-jsrender">
    <tr class="diff-tr pages" data-page="{{:idx}}">
        <td style="height : {{:height + 1}}px; display : flex; flex-direction: column;">
            <div class="diff-result">計算中</div>
            <div class="diff-label-pos"></div>
        </td>
    </tr>
</script>
<div id="view-control">
    <div>
        <input type="checkbox" id="light-toggle"/>
        <label for="light-toggle">
            差分点を非表示
        </label>
    </div>
    <div>
        <input type="checkbox" id="image-toggle"/>
        <label for="image-toggle">
            画像を非表示
        </label>
    </div>
    <div>
        <input type="checkbox" id="rect-toggle"/>
        <label for="rect-toggle">
            除外矩形を非表示
        </label>
    </div>
    <div>
        <input type="checkbox" id="diff-toggle"/>
        <label for="diff-toggle">
            差分なしを非表示
        </label>
    </div>
    <div style="display: none">
        <input type="checkbox" id="auto-toggle"/>
        <label for="auto-toggle">
            自動で比較しない
        </label>
    </div>
</div>
<div id="rect-box" style="display:none">
    <table border="0">
        <tr>
            <td id="rect-tab" class="rect-elm">
                <a href="javascript:void(0);" class="rect-tab-mark rect-link">
                    <div class="rect-tab-toggle rect-tab-opened" style="display:none">＞</div>
                    <div class="rect-tab-toggle rect-tab-closed">＜</div>
                </a>
            </td>
            <td id="rect-table" class="rect-elm" style="display:none">
                <table border="1">
                    <tr>
                        <td colspan="7">
                            <label style="background-color: white; color: black; font-weight: normal;" for="import">
                                <span>読込</span><input id="import" type="file" accept=".pdfrct" style="display:none"/>
                            </label>
                            <input type="button" id="export" value="保存" />
                        </td>
                    </tr>
                    <tr>
                        <td>全体</td>
                        <td>名前</td>
                        <td>x</td>
                        <td>y</td>
                        <td>width</td>
                        <td>height</td>
                        <td>削除</td>
                    </tr>
                    <tr class="rect-pos"></tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<script id="rect-tag" type="text/x-jsrender">
    <tr data-rect-id="{{:rect.id}}" class="rect-row">
        <td><input type="checkbox" class="rect-check" {{if rect.checked}}checked="checked"{{/if}}/></td>
        <td><input type="text" class="rect-label" value="{{:rect.label}}"></td>
        <td><input type="text" class="rect-text rect-x" value="{{:rect.x}}" /></td>
        <td><input type="text" class="rect-text rect-y" value="{{:rect.y}}" /></td>
        <td><input type="text" class="rect-text rect-w" value="{{:rect.width}}" /></td>
        <td><input type="text" class="rect-text rect-h" value="{{:rect.height}}" /></td>
        <td><a href="javascript:void(0);" class="rect-link rect-trash">－</a></td>
    </tr>
    <tr data-rect-id="{{:rect.id}}" class="rect-detail-top" style="font-size:80%" align="center">
        <td colspan="7">
            <table width="100%">
                <tr>
                    <td>
                        <a href="javascript:void(0);" class="rect-detail-mark rect-link">
                            <div class="rect-detail-toggle rect-detail-opened" style="display:none">∧除外リスト∧</div>
                            <div class="rect-detail-toggle rect-detail-closed">∨除外リスト∨</div>
                        </a>
                    </td>
                    <td class="rect-detail-table" style="display:none">
                        <table border="1" width="100%">
                            <tr>
                                <td>Page<a href="javascript:void(0);" class="rect-detail-add rect-link">＋</a></td>
                                <td>削除</td>
                            </tr>
                            <tr class="rect-detail-pos"></tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</script>
<script id="diff-label-tag" type="text/x-jsrender">
    <div class="diff-label-wrap" data-rect-id="{{:rect.id}}">
        <input type="checkbox" id="page-{{:page}}-rect-id-{{:rect.id}}" class="diff-check" {{if rect.checked}}checked="checked"{{/if}} />
        <label for="page-{{:page}}-rect-id-{{:rect.id}}">
            <span class="rect-label-{{:rect.id}}">{{:rect.label}}</span>
        </label>
    </div>
</script>
<script id="rect-detail-tag" type="text/x-jsrender">
    <tr class="rect-detail-tr">
        <td><input type="text" value="{{:page}}" style="width:5em" class="rect-detail-page" /></td>
        <td><a href="javascript:void(0);" class="rect-detail-remove rect-link">－</a></td>
    </tr>
</script>

</body>
</html>
